.navbody {
  height: 60px;
  display: flex;
  justify-content: space-between;

  padding: 10px;
  padding-right: 50px;
  padding-left: 20px;
}
.heading {
  font-size: 36px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  font-weight: 500;
}
.users{
float: right;
}
.right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-right: 30px;

}